config/app.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="definitions.xsd"/>
  <xs:element name="APP" type="APP"/>
  <xs:complexType name="APP">
    <xs:sequence>
      <xs:element name="INCLUDE" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="BRANCH" minOccurs="0" maxOccurs="unbounded" type="BRANCH"/>
    </xs:sequence>
    <xs:attribute name="Name" type="xs:string"/>
  </xs:complexType>  
</xs:schema>