config/RLSimion.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RLSimion" type="RLSimion"></xs:element>
  <xs:complexType name="RLSimion">
    <xs:sequence>
      <xs:element name="EXPERIMENT" type="experiment"/>
      <xs:element name="WORLD" type="world"/>
      <xs:element name="SIMGOD" type="simgod"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="experiment">
    <xs:sequence>
      <xs:element name="NUM_EPISODES" type="xs:integer" default="1"/>
      <xs:element name="EPISODE_LENGTH" type="xs:integer"  default="1000"/>
      <xs:element name="RANDOM_SEED" type="xs:integer"  default="1"/>
      <xs:element name="EVAL_FREQ" type="xs:integer"  default="20"/>
      <xs:element name="LOG" type="log"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="log">
    <xs:sequence>
      <xs:element name="FREQ " type="xs:decimal" default="0.25"/>
      <xs:element name="OUTPUT_DIR" type="xs:string" default=""/>
      <xs:element name="FILE_PREFIX" type="xs:string" default="prefix"/>
      <xs:element name="EVALUATION_EPISODES" type="xs:boolean" default="true"/>
      <xs:element name="TRAINING_EPISODES" type="xs:boolean" default="false"/>
      <xs:element name="EVALUATION_AVG_REWARDS" type="xs:boolean" default="true"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="world">
    <xs:sequence>
      <xs:element name="DELTA_T" type="xs:decimal" default="0.01"/>
      <xs:element name="NUM_SIMULATION_STEPS" type="xs:integer" default="4"/>
      <xs:element name="reward" type="reward"/>
      <xs:choice>
        <xs:element name="wind-turbine" type="wind-turbine"/>
      <!--  <xs:element name="magnetic-levitation" type="magnetic-levitation"/> -->
        <xs:element name="pitch" type="pitch"/>
        <xs:element name="underwater-vehicle" type="underwater-vehicle"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="wind-turbine">
    <xs:sequence>
      <xs:element name="EVALUATION_WIND_DATA_FILE" type="xs:string" default="../config/wind-turbine/setpoints/TurbSim-10.25.hh"/>
      <xs:element name="TRAINING_WIND_DATA_FILES" type="xs:string" maxOccurs="unbounded"/>
      <xs:element name="POWER_SET_POINT_FILE" type="xs:string" default="../config/wind-turbine/setpoints/windturbine-power-setpoint.txt"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pitch">
    <xs:sequence>
      <xs:element name="SET_POINT_FILE" type="xs:string" default="../config/pitch/setpoints/setpoint.txt"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="underwater-vehicle">
    <xs:sequence>
      <xs:element name="SET_POINT_FILE" type="xs:string" default="../config/underwater-vehicle/setpoints/setpoint.txt"/>
    </xs:sequence>
  </xs:complexType>
<!-- not yet finished
  <xs:complexType name="magnetic-levitation">
    <xs:sequence>
      <xs:element name="SET_POINT_FILE" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  -->

  <xs:complexType name="reward">
    <xs:sequence>
      <xs:element name="MIN_REWARD" type="xs:decimal" default="-100"/>
      <xs:element name="MAX_REWARD" type="xs:decimal" default="1.0"/>
      <xs:sequence>
        <xs:element name="reward-component" maxOccurs="unbounded" minOccurs="1" type="reward-component"/>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reward-component">
    <xs:sequence>
      <xs:element name="COMPONENT_TYPE" type="xs:string"/>
      <xs:element name="COMPONENT_WEIGHT" type="xs:decimal"/>
      <xs:element name="COMPONENT_TOLERANCE" type="xs:decimal"/>
      <xs:element name="CONTROL_ERROR_VARIABLE" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="simgod">
    <xs:choice>
      <xs:element name="Actor" type="actor"/>
      <xs:element name="Actor-Critic" type="actor-critic"/>
      <xs:element name="Actor-Critic-Controller" type="actor-critic-controller"/>
    </xs:choice>
  </xs:complexType>

  <xs:complexType name="actor-critic">
    <xs:choice>
      <xs:element name="Separate-Actor-and-Critic" type="separate-actor-and-critic"/>
      <xs:element name="Compact-Actor-And-Critic" type="compact-actor-and-critic"/>
    </xs:choice>
  </xs:complexType>


  <xs:complexType name="separate-actor-and-critic">
    <xs:sequence>
      <xs:element name="ACTOR" type="actor"/>
      <xs:element name="CRITIC" type="critic"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="compact-actor-and-critic">
    <xs:choice>
      <xs:element name="IncrementalNaturalActorCritic" type="INAC"/>
    </xs:choice>
  </xs:complexType>
    
  
  <!--ACTOR/CONTROLLER -->
  
  <xs:complexType name="actor-critic-controller">
    <xs:sequence>
      <xs:element name="ACTOR" type="actor"/>
      <xs:element name="CRITIC" type="critic"/>
      <xs:element name="CONTROLLER" type="actor"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="actor">
    <xs:sequence>
      <xs:choice>
        <xs:element name="VFA-Actor" type="VFA-Actor"/>
        <xs:element name="PID" type="PID"/>
        <xs:element name="LQR" type="LQR"/>
        <xs:element name="jonkman" type="jonkman"/>
        <xs:element name="vidal" type="vidal"/>
        <xs:element name="boukhezzar" type="boukhezzar"/>
      </xs:choice>
      
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VFA-Actor">
    <xs:sequence>
      <xs:element minOccurs="0" name="LOAD" type="xs:string" default=""/>
      <xs:element minOccurs="0" name="SAVE" type="xs:string" default=""/>
      <xs:element name="Single-Output-VFA-Policy-Learner" maxOccurs="unbounded" type="Single-Output-VFA-Policy-Learner"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Single-Output-VFA-Policy-Learner">
    <xs:sequence>
      <xs:choice>
        <xs:element name="CACLA" type="CACLA"/>
        <xs:element name="RegularGradientActor" type="RegularGradientActor"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>



  <xs:complexType name="Single-Output-VFA-Policy">
    <xs:sequence>
      <xs:element name="ACTION" type="xs:string" default=""/>
      <xs:element name="POLICY" type="vfa-policy"/>
      <xs:element name="EXPLORATION_NOISE" type="gaussian-noise"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CACLA">
    <xs:sequence>
      <xs:element name="ETRACES" minOccurs="0" type="etraces"/>
      <xs:element name="ALPHA" type="numeric"/>
      <xs:element name="POLICY" type="Single-Output-VFA-Policy"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="RegularGradientActor">
    <xs:sequence>
      <xs:element name="ETRACES" minOccurs="0" type="etraces"/>
      <xs:element name="ALPHA" type="numeric"/>
      <xs:element name="POLICY" type="Single-Output-VFA-Policy"/>
    </xs:sequence>
  </xs:complexType>
  
 
  <xs:complexType name="INAC">
    <xs:sequence>
      <xs:element name="GAMMA" type="numeric"/>
      <!--CRITIC-->
      <xs:element name="VFA_V" type="vfa-policy"/>
      <xs:element name="ETRACES_V" minOccurs="0" type="etraces"/>
      <xs:element name="ALPHA_R" type="numeric"/>
      <xs:element name="ALPHA_U" type="numeric"/>
      <!--ACTOR-->
      <xs:element name="POLICY" maxOccurs="unbounded" type="INAC-Output-VFA-Policy"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="INAC-Output-VFA-Policy">
    <xs:sequence>
      <xs:element name="POLICY" type="Single-Output-VFA-Policy"/>
      <xs:element name="ETRACES" minOccurs="0" type="etraces"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gaussian-noise">
    <xs:sequence>
      <xs:element name="SIGMA" type="numeric"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vfa-policy">
    <xs:sequence>
      <xs:element name="VFA" type="state-grid"/>
      <xs:element name ="EXPLORATION_NOISE" type="gaussian-noise"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PID">
    <xs:sequence>
      <xs:element name="ERROR_VARIABLE" type="xs:string"/>
      <xs:element name="KP" type="numeric"/>
      <xs:element name="KI" type="numeric"/>
      <xs:element name="KD" type="numeric"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LQR">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="LQR-GAIN" type="state-variable-gain"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="state-variable-gain">
    <xs:sequence>
      <xs:element name="state-variable" type="xs:string"/>
      <xs:element name="gain" type="xs:decimal" default="0.0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="jonkman">
    <xs:sequence>
      <xs:element name="VS_RtGnSp" type="xs:decimal" default="12.6805"/>
      <xs:element name="VS_SlPc" type="xs:decimal" default="10.0"/>
      <xs:element name="VS_Rgn2K" type="xs:decimal" default="2.332287"/>
      <xs:element name="VS_Rgn2Sp" type="xs:decimal" default="91.21091"/>
      <xs:element name="VS_CtInSp" type="xs:decimal" default="70.16224"/>
      <xs:element name="VS_RtPwr" type="xs:decimal" default="5296610.0"/>
      <xs:element name="VS_Rgn3MP" type="xs:decimal" default="0.01745329"/>
      <xs:element name="PC_KI" type="numeric"/>
      <xs:element name="PC_KK" type="numeric"/>
      <xs:element name="PC_KP" type="numeric"/>
      <xs:element name="PC_RefSpd" type="xs:decimal" default="122.9096"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="vidal">
    <xs:sequence>
      <xs:element name="A" type="numeric"/>
      <xs:element name="K_alpha" type="numeric"/>
      <xs:element name="KP" type="numeric"/>
      <xs:element name="KI" type="numeric"/>
      <xs:element name="P_s" type="numeric"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="boukhezzar">
    <xs:sequence>
      <xs:element name="C_0" type="numeric"/>
      <xs:element name="KP" type="numeric"/>
      <xs:element name="KI" type="numeric"/>
      <xs:element name="K_t" type="numeric"/>
      <xs:element name="J_t" type="numeric"/>
    </xs:sequence>
  </xs:complexType>

  <!--CRITIC -->
  
  <xs:complexType name="critic">
    <xs:sequence>
      <xs:element minOccurs="0" name="LOAD" type="xs:string" default=""/>
      <xs:element minOccurs="0" name="SAVE" type="xs:string" default=""/>
      <xs:choice>
        <xs:element name="TD-Lambda" type="TD-Lambda"/>
        <xs:element name="True-Online-TD-Lambda" type="True-Online-TD-Lambda"/>
        <xs:element name="TDC-Lambda" type="TDC-Lambda"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="TD-Lambda">
    <xs:sequence>
      <xs:element name="VFA" type="rbf-value"/>
      <xs:element name="ETRACES" minOccurs="0" type="etraces"/>
      <xs:element name="GAMMA" type="numeric"/>
      <xs:element name="ALPHA" type="numeric"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="True-Online-TD-Lambda">
    <xs:sequence>
      <xs:element name="VFA" type="rbf-value"/>
      <xs:element name="ETRACES" minOccurs="0" type="etraces"/>
      <xs:element name="GAMMA" type="numeric"/>
      <xs:element name="ALPHA" type="numeric"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TDC-Lambda">
    <xs:sequence>
      <xs:element name="VFA" type="rbf-value"/>
      <xs:element name="ETRACES" minOccurs="0" type="etraces"/>
      <xs:element name="GAMMA" type="numeric"/>
      <xs:element name="ALPHA" type="numeric"/>
      <xs:element name="BETA" type="numeric"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rbf-value">
    <xs:sequence>
      <xs:element name="RBF_GRID" type="state-grid"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="numeric">
    <xs:sequence>
      <xs:choice>
        <xs:element name="decimal" type="xs:decimal" default="0.0"/>
        <xs:element name="schedule" type="schedule"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="schedule">
    <xs:sequence>
      <xs:element name="INTERPOLATION">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="linear" />
            <xs:enumeration value="quadratic" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="INITIAL_VALUE" type="xs:decimal"/>
      <xs:element name="FINAL_VALUE" type="xs:decimal"/>
      <xs:element name="EVALUATION_EPISODE_VALUE" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="state-grid">
    <xs:sequence>
      <xs:element name="state-grid-dimension" maxOccurs="unbounded" type="state-grid-dimension"/>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="etraces">
    <xs:sequence>
      <xs:element name="USE" type="xs:boolean" default="true"/>
      <xs:element name="REPLACE" type="xs:boolean" default="true"/>
      <xs:element name="LAMBDA" type="xs:decimal" default="0.9"/>
      <xs:element name="THRESHOLD" type="xs:decimal" default="0.001"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="state-grid-dimension">
    <xs:sequence>
      <xs:element name="VARIABLE_NAME" type="xs:string" default=""/>
      <xs:element name="NUM_FEATURES" type="xs:integer" default="10"/>
      <xs:element name="DISTRIBUTION" default="linear">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="linear"/>
            <xs:enumeration value="quadratic"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>




  <!--
  <xs:element name="state-variables-wind-turbine">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="P_s" />
        <xs:enumeration value="P_e" />
        <xs:enumeration value="P_a" />
        <xs:enumeration value="v" />
        <xs:enumeration value="T_a" />
        <xs:enumeration value="omega_r" />
        <xs:enumeration value="d_omega_r" />
        <xs:enumeration value="beta" />
        <xs:enumeration value="d_beta" />
        <xs:enumeration value="T_g" />
        <xs:enumeration value="d_T_g" />
        <xs:enumeration value="E_p" />
        <xs:enumeration value="E_omega_r" />
        <xs:enumeration value="E_int_omega_r" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  
  <xs:element name="state-variables-pitch-control">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="setpoint-pitch" />
        <xs:enumeration value="pitch" />
        <xs:enumeration value="attack-angle" />
        <xs:enumeration value="pitch-rate" />
        <xs:enumeration value="control-deviation" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  
    <xs:element name="state-variables-underwater-vehicle">
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="v-setpoint" />
        <xs:enumeration value="v" />
        <xs:enumeration value="v-deviation" />
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  
  <xs:element name="state-variable">
    <xs:alternative test="@dynamic-model='wind-turbine'" type="state-variables-wind-turbine"/>
    <xs:alternative test="@dynamic-model='pitch'" type="state-variables-pitch-control"/>
    <xs:alternative test="@dynamic-model='underwater-vehicle'" type="state-variables-wind-turbine"/>
    <xs:alternative type="xs:error"/>
  </xs:element>
  -->

</xs:schema>
